<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stream</title>
</head>
<body>
	<table>
		<tr><td>
  <h1>DRONE 1</h1>  
    <img src="{% url 'drone1' %}" width="500" height="450" alt=""></img> 
			</td><td>
    <h1>CAMERA 1</h1>
    <img src="{% url 'video_feed_camera1' %}" width="500" height="450" alt=""></img> 
				</td><tr></table>
</body>
</html>
